{% extends "base.html" %}
{% load dsms_extras static %}

{% block title %}{{ post|get_title:LANG }} &mdash; DSMarketLearning{% endblock %}
{% block meta_description %}{{ post|get_excerpt:LANG }}{% endblock %}

{% block extra_head %}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "Article",
        "headline": "{{ post|get_title:LANG|escapejs }}",
        "description": "{{ post|get_excerpt:LANG|escapejs }}",
        "datePublished": "{{ post.published_at|date:'c' }}",
        "author": {"@type": "Organization", "name": "DSMarketLearning"},
        "publisher": {
            "@type": "Organization",
            "name": "DSMarketLearning",
            "logo": {"@type": "ImageObject", "url": "https://www.dsminds.com{% static 'img/logo-icon.png' %}"}
        },
        "mainEntityOfPage": "https://www.dsminds.com{% url 'blog-detail' post.slug %}"
    }
    </script>
{% endblock %}

{% block content %}
    <article class="post-detail">
        <h1>{{ post|get_title:LANG }}</h1>
        <p class="news-meta">{{ post.published_at|date:"d M Y" }}</p>

        {% include "partials/ad_slot.html" %}

        <div class="post-body">
            {{ post|get_body:LANG|safe }}
        </div>
    </article>
{% endblock %}
